<!-- Barra de navegación 
<div>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">IncorpuEdu</a>

      <ul class="navbar-nav px-3">
      	<li class="nav-item text-nowrap avatar">
      		 Cargar imagen de usuario 
      	</li>
      	<li class="dropdown">
      		<a class="nav-item text-nowrap dropdown-toggle" data-toggle="dropdown" href="#">
      			{{identity.nombres}}
      		</a>

      		<ul class="dropdown-menu">
      			<li>
      				<a href="#">
      					Mi perfil
      				</a>
      			</li>
      			<li>
      				<a href="#">
      					Datos
      				</a>
      			</li>
      			<li>
      				<a href="#" (click)="logout()">Cerrar sesión</a>
      			</li>
      		</ul>
      	</li>
      </ul>
    </nav>
</div> -->

<!-- La etiqueta intocable -->
<router-outlet></router-outlet>

<!-- 
	<ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" (click)="logout()">Sign out</a>
        </li>
      </ul> -->
